Weapon(
    id: "ssn-774",
    name: "Virginia-class",
    domain: Sea,
    guidance: Human,
    movement: Movement(
        speed: 46
    ),
    payload: Capacity(
        weight: 5000,
        domains: []
    ),
    attributes: {
        "weight": 7800000,
        "radar-crosssection": 0.3
    }
)
