Weapon(
    id: "ss-x-30",
    name: "RS-28 Sarmat",
    domain: Missile,
    guidance: Inertial,
    movement: Movement(
        range: Limited(18000),
        speed: 25000
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 208100,
        "radar-crosssection": 1.0
    }
)
