Weapon(
    id: "centauro-ii",
    name: "Centauro II",
    domain: Land,
    guidance: Human,
    movement: Movement(
        range: Limited(800),
        speed: 105
    ),
    payload: Capacity(
        weight: 800,
        domains: []
    ),
    attributes: {
        "weight": 30000,
        "radar-crosssection": 0.85
    }
)
