Weapon(
    id: "agni-v",
    name: "Agni-V",
    domain: Missile,
    guidance: Gps,
    movement: Movement(
        range: Limited(8000),
        speed: 24000
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 50000,
        "radar-crosssection": 0.85
    }
)
