Weapon(
    id: "brahmos",
    name: "BrahMos",
    domain: Missile,
    guidance: Radar,
    movement: Movement(
        range: Limited(450),
        speed: 3430
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 3000,
        "radar-crosssection": 0.2
    }
)
