Weapon(
    id: "mk-82",
    name: "Mark 82",
    domain: Bomb,
    guidance: Dumb,
    movement: Movement(
        speed: 0
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 227,
        "radar-crosssection": 0.3
    }
)
