Weapon(
    id: "kab-500l",
    name: "KAB-500L",
    domain: Bomb,
    guidance: Laser,
    movement: Movement(
        speed: 0
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 560,
        "radar-crosssection": 0.2
    }
)
