Weapon(
    id: "hyunmoo-3c",
    name: "Hyunmoo-3",
    domain: Missile,
    guidance: Gps,
    movement: Movement(
        range: Limited(1500),
        speed: 900
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 1500,
        "radar-crosssection": 0.05
    }
)
