Weapon(
    id: "iris-t",
    name: "IRIS-T",
    domain: Missile,
    guidance: Infrared,
    movement: Movement(
        range: Limited(25),
        speed: 3400
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 88,
        "radar-crosssection": 0.01
    }
)
