Weapon(
    id: "agm-158",
    name: "AGM-158 JASSM",
    domain: Missile,
    guidance: Gps,
    movement: Movement(
        range: Limited(925),
        speed: 1050
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 1020,
        "radar-crosssection": 0.01
    }
)
