Weapon(
    id: "kepd-350",
    name: "Taurus",
    domain: Missile,
    guidance: Gps,
    movement: Movement(
        range: Limited(500),
        speed: 1050
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes:{
        "weight": 1400,
        "radar-crosssection": 0.02
    }
)
