Weapon(
    id: "t-14",
    name: "T-14 Armata",
    domain: Land,
    guidance: Human,
    movement: Movement(
        range: Limited(500),
        speed: 90
    ),
    payload: Capacity(
        weight: 1100,
        domains: []
    ),
    attributes: {
        "weight": 55000,
        "radar-crosssection": 1.0
    }
)
