Weapon(
    id: "tos-1a",
    name: "TOS-1A",
    domain: Land,
    guidance: Human,
    movement: Movement(
        range: Limited(550),
        speed: 60
    ),
    payload: Capacity(
        weight: 3700,
        domains: []
    ),
    attributes:{
        "weight": 42000,
        "radar-crosssection": 1.0
    }
)
