Weapon(
    id: "ss-501",
    name: "Soryu-class",
    domain: Sea,
    guidance: Human,
    movement: Movement(
        range: Limited(11000),
        speed: 37
    ),
    payload: Capacity(
        weight: 3200,
        domains: []
    ),
    attributes: {
        "weight": 4200000,
        "radar-crosssection": 0.15
    }
)
