Weapon(
    id: "ft-7",
    name: "FT-7 GPS Bomb",
    domain: Bomb,
    guidance: Gps,
    movement: Movement(
        speed: 0
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 500,
        "radar-crosssection": 0.18
    }
)
