Weapon(
    id: "scalp-eg",
    name: "Storm Shadow",
    domain: Missile,
    guidance: Gps,
    movement: Movement(
        range: Limited(560),
        speed: 1000
    ),
    payload: Capacity(
        weight: 0,
        domains: []
    ),
    attributes: {
        "weight": 1300,
        "radar-crosssection": 0.02
    }
)
