Weapon(
    id: "su-25",
    name: "Frogfoot",
    domain: Air,
    guidance: Human,
    movement: Movement(
        range: Limited(1300),
        speed: 975
    ),
    payload: Capacity(
        weight: 4400,
        domains: []
    ),
    attributes:{
        "weight": 9500,
        "radar-crosssection": 0.8
    }
)
