Weapon(
    id: "m109a7",
    name: "Paladin",
    domain: Land,
    guidance: Human,
    movement: Movement(
        range: Limited(300),
        speed: 61
    ),
    payload: Capacity(
        weight: 1500,
        domains: []
    ),
    attributes: {
        "weight": 27500,
        "radar-crosssection": 0.95
    }
)
