Weapon(
    id: "b-2",
    name: "Spirit",
    domain: Air,
    guidance: Human,
    movement: Movement(
        range: Limited(11100),
        speed: 1010
    ),
    payload: Capacity(
        weight: 23000,
        domains: []
    ),
    attributes: {
        "weight": 71700,
        "radar-crosssection": 0.001
    }
)
